@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'SF-Pro';
    src: url('/fonts/SF-Pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  :root {
    --background: 300 10% 89%;
    --foreground: 300 10% 5%;
    --card: 0 0% 100%;
    --card-foreground: 300 10% 5%;
    --popover: 0 0% 100%;
    --popover-foreground: 300 10% 5%;
    --primary: 300 50% 50%;
    --primary-foreground: 300 10% 89%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 300 10% 89%;
    --border: 300 10% 81%;
    --input: 300 10% 81%;
    --ring: 300 10% 5%;
    --radius: 16px;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 300 10% 5%;
    --foreground: 300 10% 89%;
    --card: 300 10% 5%;
    --card-foreground: 300 10% 89%;
    --popover: 300 10% 5%;
    --popover-foreground: 300 10% 89%;
    --primary: 300 10% 89%;
    --primary-foreground: 300 50% 50%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 300 10% 89%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 300 10% 89%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 300 10% 89%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'SF-Pro', sans-serif;
  }
  ::selection {
    @apply bg-accent-foreground text-accent;
  }
  ::-webkit-scrollbar{
    width: 10px !important;
    height: 8px !important;
    background: rgba(0,0,0,0.01) !important;
  }
  ::-webkit-scrollbar-thumb{
    border-radius: var(--radius) !important;
    @apply bg-accent-foreground/30 border-2 border-background border-solid;
  }

  .gradient-blur {
    position: fixed;
    opacity: 1;
    z-index: 5;
    inset: -1px -1px auto -1px;
    pointer-events: none;
    height: 98px;
    @media only screen and (max-width: 900px){
      height: 78px;
    }
    @media only screen and (max-width: 500px){
      height: 62px;
    }
  }
  .gradient-blur > div,
  .gradient-blur::before,
  .gradient-blur::after {
    position: absolute;
    inset: 0;
  }
  .gradient-blur::before {
    content: "";
    z-index: 1;
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px);
    mask: linear-gradient(
            to top,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 12.5%,
            rgba(0, 0, 0, 1) 25%,
            rgba(0, 0, 0, 0) 37.5%
    );
  }
  .gradient-blur > div:nth-of-type(1) {
    z-index: 2;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    mask: linear-gradient(
            to top,
            rgba(0, 0, 0, 0) 12.5%,
            rgba(0, 0, 0, 1) 25%,
            rgba(0, 0, 0, 1) 37.5%,
            rgba(0, 0, 0, 0) 50%
    );
  }
  .gradient-blur > div:nth-of-type(2) {
    z-index: 3;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    mask: linear-gradient(
            to top,
            rgba(0, 0, 0, 0) 25%,
            rgba(0, 0, 0, 1) 37.5%,
            rgba(0, 0, 0, 1) 50%,
            rgba(0, 0, 0, 0) 62.5%
    );
  }
  .gradient-blur > div:nth-of-type(3) {
    z-index: 4;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    mask: linear-gradient(
            to top,
            rgba(0, 0, 0, 0) 37.5%,
            rgba(0, 0, 0, 1) 50%,
            rgba(0, 0, 0, 1) 62.5%,
            rgba(0, 0, 0, 0) 75%
    );
  }
  .gradient-blur > div:nth-of-type(4) {
    z-index: 5;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    mask: linear-gradient(
            to top,
            rgba(0, 0, 0, 0) 50%,
            rgba(0, 0, 0, 1) 62.5%,
            rgba(0, 0, 0, 1) 75%,
            rgba(0, 0, 0, 0) 87.5%
    );
  }
  .gradient-blur > div:nth-of-type(5) {
    z-index: 6;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    mask: linear-gradient(
            to top,
            rgba(0, 0, 0, 0) 62.5%,
            rgba(0, 0, 0, 1) 75%,
            rgba(0, 0, 0, 1) 87.5%,
            rgba(0, 0, 0, 0) 100%
    );
  }
  .gradient-blur > div:nth-of-type(6) {
    z-index: 7;
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
    mask: linear-gradient(
            to top,
            rgba(0, 0, 0, 0) 75%,
            rgba(0, 0, 0, 1) 87.5%,
            rgba(0, 0, 0, 1) 100%
    );
  }
  .gradient-blur::after {
    content: "";
    z-index: 8;
    backdrop-filter: blur(64px);
    -webkit-backdrop-filter: blur(64px);
    mask: linear-gradient(
            to top,
            rgba(0, 0, 0, 0) 87.5%,
            rgba(0, 0, 0, 1) 100%
    );
  }

  /*Caracter CARD*/
  .caracter-card{
    transition: .3s ease-in-out;
    outline: 2px solid rgba(0,0,0,0) !important;
    outline-offset: -2px !important;
    @media only screen and (max-width: 1024px){
      flex-direction: row !important;
      img{
        width: 80px !important;
        height: 100% !important;
      }
    }
    @media only screen and (max-width: 767px){
      align-items: center !important;
      gap: 4px !important;
      img{
        width: 60px !important;
      }
      div{
        h4{

        }
      }
    }
  }
  .caracter-card--selected{
    transition: .3s ease-in-out;
    outline: 2px solid rgba(255,0,255,.5) !important;
    outline-offset: 2px !important;
  }
}